<div>

    <div class="filter-container">
      <button (click)="filter('')" class="filterbtn-container">
      <div class="filterBtn btnOne"><i class="fa-solid fa-gifts" style="color: #b83232;"></i></div>
      <h4>All products</h4></button>
      <button (click)="filter('electronics')"  class="filterbtn-container">
      <div class="filterBtn btnTwo"> <i class="fa-solid fa-desktop" style="color: #b3b3b3;"></i></div>
      <h4>Electronics</h4></button>
      <button (click)="filter('fashion')" 
    class="filterbtn-container"> 
      <div class="filterBtn btnThree"><i class="fa-solid fa-shirt" style="color: #7d2489;"></i></div>
      <h4 >Fashion</h4> </button>
      <button (click)="filter('jewelery')"  
       class="filterbtn-container">
      <div class="filterBtn btnFour"> <i class="fa-solid fa-gem" style="color: #FFD233;"></i></div>
      <h4>Jewelery</h4>
    </button>
    </div>

    <div class="card-container">
      <div class="card" *ngFor="let post of filterCategory | customFilter: searchKey: 'title'">
        <div class="images">
          <img [src]="post.image" alt="{{ post.title }}" />
        </div>
        <div class="card-text">
          <b>{{ post.title }}</b>
          <p>{{ truncateText(post.description, 10) }}</p>
          <p><b>${{ post.price }}</b></p>
        
        </div> 
         <button class="button" (click)="addToCart(post)">ADD TO CART</button>
      </div>
    </div>
  </div>